@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
    background-color: #bae9ff;
}

.btn-default {
    background-color: #7ad6ff;
}

.btn-primary {
    background-color: #3ac2ff;
}

.btn-danger {
    background-color: #02b0ff;
}